
.indicator{
    font-size: 52px;
    text-align: center;
}

.board{
    width: 520px;
    height:520px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.grid-cover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

button{
    color: var(--primary);
    font-size: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}