:root{
  --primary: #001756;
}

*{
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  height: 100vh;
  background-color: rgb(0, 118, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}